/**
 * ClickTrack Module Style Sheet for Phire CMS 2
 */

#clicktrack-nav {
    font-size: 0.825em;
}

.clicktrack-pad {
    padding: 0 6px 0 6px;
}

.clicks-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.clicks-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f245";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}